services:
    app:
        build: .
        container_name: node_app
        env_file: .env
        depends_on:
            - db
        command: >
            sh -c "NODE_ENV=development nodemon index.js"
        ports:
            - 8000:8000
        volumes:
            - .:/protocol-now
    db:
        image: postgres:15
        container_name: postgres_db
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: admin
            POSTGRES_DB: protocol_now_db
        ports:
            - '5434:5432'
        volumes:
            - postgres_data:/var/lib/postgresql/data

volumes:
    postgres_data:
