services:
    app:
        build: .
        container_name: property_rental_app
        env_file: .env
        depends_on:
            - db
        command: yarn dev
        ports:
            - '8080:8080'
        volumes:
            - .:/app
            - /app/node_modules
    db:
        image: postgres:15
        container_name: property_rental_db
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: admin
            POSTGRES_DB: property_rental_db
        ports:
            - '5432:5432'
        volumes:
            - postgres_data:/var/lib/postgresql/data

volumes:
    postgres_data:
